<h1>Editing products ordered</h1>

<%= render "form", products_ordered: @products_ordered %>

<br>

<div>
  <%= link_to "Show this products ordered", @products_ordered %> |
  <%= link_to "Back to products ordereds", products_ordereds_path %>
</div>
