<p style="color: green"><%= notice %></p>

<%= render @category %>
<div class="container">
<% if @products.any?%>
<h2>Products: </h2>
<ul>
  <% @products.each do |product| %>
    <li><%=link_to product.name, product_path(product)%></li>
  <%end%>
</ul>
<%end%>
</div>

<div>
  <%= link_to "Back to categories", categories_path %>

</div>
